@model IEnumerable<CqrsApp.ReadModel.Entities.Team>
@{
    ViewBag.Title = "Index";
}
<div style="text-align:  center; margin-left:auto; margin-right:auto;">
    <h2>Teams</h2>
</div>
<table class="table table-condensed table-responsive">
    <tr>
        <th class="col-sm-1" align="right">Emblem</th>
        <th class="col-sm-1" align="right">Name</th>
        <th class="col-sm-1" align="left">Players</th>
        <th class="col-sm-1" align="right"></th>
        <th class="col-sm-1" align="right"></th>
        <th class="col-sm-1" align="right"></th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td align="left"><img alt="Cover" src="@item.ImageUrl" width="80" height="80" /></td>
        <td align="left">@item.Name</td>
        <td align="left">@Html.Partial("_TeamPartialPlayers", item)</td>
        <td align="left">@Html.ActionLink("Edit", "Edit", new { id = item.Id })</td>
        <td align="left">@Html.ActionLink("Delete", "Delete", new { id = item.Id })</td>
    </tr>
    }
</table>

<div class="text-center">
    @Html.ActionLink("Add new teamr", "Edit", null, new { @class = "btn btn-success" })
    <span></span>
    @Html.ActionLink("Go to Players", "Index", "Player", null, new { @class = "btn btn-warning" })
</div>